/*------------------------------------------------------------------

全項目

-------------------------------------------------------------------*/

/* お問い合わせフォーム */
h1 {
  position: absolute;
  padding-top: 20px;
}

.span_lbl {
  font-size: 1.5em;
}

/*------------------------------------------------------------------

入力画面

-------------------------------------------------------------------*/

/* 文字サイズ */
input, textarea {
  font-size: 14px;
}

/* エラーメッセージ */
.err_msg {
  color: red;
}

/*------------------------------------------------------------------

確認画面

-------------------------------------------------------------------*/

/* 項目 */
#contents {
  font-size: 1.2em;
}

/* ボタン */
.btn1 {

}

/*------------------------------------------------------------------

スマホ(max-width: 479px)

-------------------------------------------------------------------*/
@media screen and (max-width: 479px) {
  h1, h2, h3, h4, h5 ,#label_smh {
    text-align: center;
  }
  /*
  ●入力画面
  */


  /*
  ●確認画面
  */
  #label_smh {
    background-color: #C2EEFF;
  }

  .btn1 {

  }
  /*
  ●完了画面
  */
}

/*------------------------------------------------------------------

タブレット(max-width: 1024px) and (orientation: portrait)

-------------------------------------------------------------------*/
@media screen and (max-width: 1024px) and (orientation: portrait) {
  h1, h2, h3, h4, h5 {
    text-align: center;
  }

  /*
  ●入力画面
  */


  /*
  ●確認画面
  */
  #label_smh {
    font-size: 1.2em;
  }

  .btn1 {

  }
  /*
  ●完了画面
  */
}
